body {
	background-color: #6699CC;
	overflow-x: hidden;
}

h3 {
	text-align:center;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: white;
	font-size: 32px;
	margin: 20px;
}

IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.widget-login {
}

.widget-login .placeHolder {
	margin-left: auto;
    margin-right: auto;
	border: 1px solid black;
	width: 652px;
	height: 652px;
	background-color: #999966;
}

.widget-login .button {
	float: left;
	width: 183px;
	height: 183px;
	margin: 16px;
	background-color: grey;
	border: 1px solid black;
}

.widget-login .selectedButtonsFrame {
	height: 84px;
	width: 528px;
	margin-left: auto;
    margin-right: auto;
}

.widget-login .selectedButton {
	height: 78px;
	width: 78px;
	border: 3px solid black;
	margin-right: 4px;
	float:left;
	background-color: white;
	background-size: cover;
}

.link {
	cursor: pointer;
	font-weight: bold;
}

div#status-bar {	
	position:fixed; 
	bottom:0; 
	background: black;
	height: 110px;
	width: 100%;
	opacity: 0.9;
}

div#acorns {
	float: right;
	width: 400px;
}

div#energy {
	float: left;
	width: 400px;
}

div#acorns  img {
	width: 80px;
	height: 80px;
}

div#energy  img {
	width: 80px;
	height: 80px;
}


