h1 {
	text-align:center;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}